.footer {
    min-height: 8rem;
    background-color: rgb(var(--background));
    margin-top: 2rem;
    padding-bottom: 2.5rem;
}

.footer .wrapper {
    display: inline-flex;
    justify-content: center;
}

.footer .wrapper + .wrapper {
    margin-top: 1rem;
}

.footer .item {
    padding: 0 1rem;
    opacity: 0.6;
    text-align:center;
    display: inline-flex;
    flex-direction: column;
}

.footer .item * {
    padding-bottom: 0.1rem;
}

.footer .item h4 {
    padding-top: 1rem;
}

.footer .item p,
.footer .item a {
    font-size: 0.8rem;
}

.footer .item a:hover {
    cursor: pointer;
    text-decoration: underline;
}