.navbar {
    height: 4rem;
    background-color: rgb(var(--background));
    padding: 1rem 1rem;
    display: inline-flex;
    align-items: center;
}

.navbar .logo {
    display: inline-flex;
    height: min-content;
    width: min-content;
    align-items: center;
}

.navbar .logo * {
    float: left;
}

.navbar .logo img {
    max-height: 3rem;
    padding-right: 0.2rem;
}

.navbar .logo h2 {
    max-width: min-content;
    text-wrap: nowrap;
}

@media (max-width: 680px) {
    .navbar .logo h2 {
        display: none;
    }
}

.navbar button {
    font-weight: 300;
    font-size: 1.1rem;
    border: none;
    background: none;
    float: right;
    margin: 0.25rem;
    padding: 0.5rem;
    white-space: nowrap;
}

.navbar .logo:hover,
.navbar button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.navbar .logo:active,
.navbar button:active {
    opacity: 0.7;
}