.postgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0 1rem;
}

.postgrid:has(:only-child) {
    grid-template-columns: auto;
}

@media (max-width: 1078px) {
    .postgrid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 680px) {
    .postgrid {
        grid-template-columns: auto;
    }
}

.postgrid .post {
    padding: 1rem;
}

.post p + p {
    margin-top: 0.5rem;
}

.postButton {
    font-size: 1rem;
    background-color: rgba(var(--primary), 0.5);
    border: 1px solid rgba(var(--primary), 0.8);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    float: right;
}

.postButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.postButton:active {
    border: 1px inset rgba(var(--primary), 0.5);
}

.nonefound {
    padding: 5rem 0 15rem;
}

.nonefound * {
    padding: 0.25rem;
}

.project {
    display: inline-flex;
    flex-wrap: wrap;
}

.project div {
    flex: 1 0 75%;
}

.project img {
    flex: 1 0 25%;
}

.projectButton {
    font-size: 1rem;
    background-color: rgba(var(--primary), 0.5);
    border: 1px solid rgba(var(--primary), 0.8);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    margin-left: auto;
}

.projectButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.projectButton:active {
    border: 1px inset rgba(var(--primary), 0.5);
}

.noBanner {
    display: flex;
    flex-direction: column;
}

.noBanner div {
    flex: 1 1 auto;
    width: 100%;
}

.project img {
    flex: 1 0 25%;
    max-width: 100%;
    object-fit: cover;
}
