@media (prefers-color-scheme: dark) {
    * {
        --background: 21, 20, 18;
        --text: 245, 245, 245;
        --primary: 146, 196, 0;
        --secondary: 221, 228, 124;
    }
}

@media (prefers-color-scheme: light) {
    * {
        --background: 245, 245, 245;
        --text: 21, 20, 18;
        --primary: 221, 228, 124;
        --secondary: 146, 196, 0;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: rgb(var(--text));
}

:root {
    width: auto;

    font-family: "Ubuntu", sans-serif;
    font-weight: 300;

    background-color: rgba(var(--background), 0.95);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}